<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="static/css/style_new_2.css"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar" style="background-color: #c0c0c0;">
    <h1>Social Network for Artists and Connoisseurs</h1>
    {% if current_user.is_authenticated %}
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Профиль
        </a>
        <div class="dropdown-menu dropdown-menu-right" style="right: 200px;" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/perspage">Просмотр моего профиля</a>
            <a class="dropdown-item" href="/edit">Редактировать мой профиль</a>
            <a class="dropdown-item" href="/sample_file_upload">Поменять фото</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Выход</a>
        </div>
    </div>
    {% else %}
    <p>
        <a class="btn btn-secondary" href="/login">Войти</a>
        <a class="btn btn-secondary " href="/register">Зарегистрироваться</a>
    </p>
    {% endif %}
</nav>
{% block content %}

{% endblock %}
</body>
</html>