{% extends "base.html" %}

{% block content %}

<div align="center" class="block_1">
<form class="login_form" action="" method="post" enctype="multipart/form-data">
    <h2>Новый пост</h2>
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.photo.label }}<br>
        {{ form.photo(class="form-control") }}<br>
        {% for error in form.photo.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
</div>

{% endblock %}