DAWG-Python
Flask
Flask-Login
Flask-RESTful
Flask-WTF
Jinja2
MarkupSafe
SQLAlchemy
SQLAlchemy-serializer
WTForms
Werkzeug
aniso8601
certifi
chardet
click
docopt
flask-ngrok
idna
itsdangerous
pip
pygame
pymorphy2
pymorphy2-dicts
pytz
requests
setuptools
six
urllib3