<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="static/css/style_new_2.css"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar" style="background-color: #c0c0c0;">
    <h1>Social Network for Artists and Connoisseurs</h1>
    {% if current_user.is_authenticated %}
    <a class="btn btn-secondary" href="/perspage">{{ current_user.nickname }}</a>
    {% else %}
    <p>
        <a class="btn btn-secondary" href="/login">Войти</a>
        <a class="btn btn-secondary " href="/register">Зарегистрироваться</a>
    </p>
    {% endif %}
</nav>
{% block content %}

{% endblock %}
</body>
</html>