{% extends "base.html" %}

{% block content %}
<h1>&nbsp;</h1>
<h1>&nbsp;</h1>
<h2 style="text-align: left; padding-left: 550px;">{{welcome_text1}}</h2>
<h2 style="text-align: left; padding-left: 300px;">{{welcome_text2}}</h2>
<h2 style="text-align: left; padding-left: 300px;">{{welcome_text3}}</h2>
<h2 style="text-align: left; padding-left: 300px;">{{welcome_text4}}</h2>
<h2 style="text-align: left; padding-left: 300px;">{{welcome_text5}}</h2>
<h2 style="text-align: left; padding-left: 300px;">{{welcome_text6}}</h2>
{% endblock %}